<body>
    
    <h1 style="margin-left: 10px; padding: 5px;">Your all Budgets </h1>
 
    <div class="spinIcon" *ngIf="isLoaded">

        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <div class="row" >
        <div class="column" *ngFor="let budget of budgetArr; index as i">
          <div class="card">
            <h2> {{budget.name}} </h2>
            <button *ngIf="!budget.visible" (click)="showDetail(i)" class="btn showButton">
                Show more Details    <img src="../../../assets/icons/expand-down.svg" alt="icon name" class="icon">
            </button>
            <div *ngIf="budget.visible"> 
                <h4>Currency : ( {{budget.currency_format.currency_symbol}} ) </h4>
                <h5>Avaible accounts are : <span style="color: #221e19; font-size: 18px;">{{accArr[i]}} </span> </h5>
                <span>From ( {{budget.first_month | date: 'MMMM d'}} --
                    {{budget.first_month | date: 'MMMM d, y'}})</span>
                    <p>last modified on {{budget.last_modified_on | date: 'dd/MM/yyyy'}}</p>
                </div>
            </div>
        </div>
    </div>
</body>
